---
output.elasticsearch:
  hosts: ["http://10.130.0.10:9200"]
  username: "dotsenkois"
  password: "YOUR_PASSWORD" 
  ssl:
    enabled: true
    ca_trusted_fingerprint: "b9a10bbe64ee9826abeda6546fc988c8bf798b41957c33d05db736716513dc9c"